* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    min-width: 320px;
}
main {
    flex-grow: 1;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}
header {
    min-height: 800px;
    background-color: #F9F6F1;
}
.header-menu{
    min-height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.banner{
    margin: 90px;
}
.header-menu ul{
    display: flex;
    flex-direction: row;
}
ul{
    list-style: none;

}
.mainmenu__item{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 15px;
    margin-top: 15px;
}
.basket__item{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
}

.section__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 80px;
    justify-content: space-between;
}

.menu__link {
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding-bottom: 15px;
    padding-top: 15px;
}
.menu__link:hover{
    text-decoration: none;
    color:#d84033;
}
.slider__item{
    display: flex;
    padding-top: 166px;
    justify-content: space-between;
    min-height: 564px;
    background: url('../img/running_shoes_PNG5823.png') no-repeat right center;
}
.slider__text{
    font-size: 30px;
}
.slider__button{
    position:absolute;
    top: 50%;
}
.slider__button--prev{
    left: -100px;
    border:none;
}
.slider__button--next{
    right: -100px;
    border: none;
    
}
.slider__item-text .button:hover{
    background-color: #d84033;
}
.slider__wrapper{
    position: relative;

}
.slider__big-text{
    font-family: "montserratbold", "Arial", sans-serif;
    font-weight: bold;
    font-size:55px;
    text-transform: uppercase;
    margin-top: 36px;
}
.navbar-toggler{
    display:none;
}
.button {
    display: block;
    width: 240px;
    padding: 22px 0;
    text-align: center;
    background-color: #d7b399;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    margin-top: 54px;
    text-decoration: none;
    

}
.slider__item-price{
    font-family: "montserratbold", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.slider__price--old{
    font-size: 24px;
    text-decoration-line: line-through;

}
.slider__price--new{
    font-size: 42px;
    color: #d84033;
}
/*------------section delivery-----------------*/
.delivery {
    background: #212121;
    color: #fff;
    text-align: center;
}
.delivery .container {
    padding-top: 80px;
    padding-bottom: 59px;
}
.delivery__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.delivery__title span {
    font-weight: normal;
}
.delivery__text{
    font-size: 21px;
}
/*----------section man-woman-------------------*/

.man-woman {
    background: linear-gradient(90deg, #f9f6f1 0%, #f9f6f1 50%, #f9e0e0 50%, #f9e0e0 100%);
}

.man-woman .container {
    display: flex;
    flex-direction: row;
}
.man,
.woman {
    width: 50%;
    padding-top: 60px;
    padding-bottom: 58px;
}

.man {
    background: url(../img/man.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.woman {
    background: url(../img/woman.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    padding-left: 35px;
}

.man-woman h2 {
    font-size: 24px;
    margin-bottom: 25px;
}
.man-woman h2 span {
    font-weight: normal;
}

.man-woman p {
    font-weight: 200;
}

.man-woman a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D7B399;
    width: 80px;
    height: 30px;
    margin-top: 40px;
}
.man-woman a:hover {
    background: #947762;
}
/*------------section dress--------------*/


.dress__item-grey{
    background: #f4f4f4;
    position:relative;

}
.dress__item-cream{
    background: #F9F6F1;
    position: relative;
    
}
.dress__wrapper{
    flex-wrap: wrap;
    display: flex;
}
.dress__item{
    width: 25%;
    height: 236px;
    text-align: right;
    position: relative;
}
.dress__item img{
    height: 90%;
    
}
.dress__item p{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding-left: 25px;
    padding-bottom: 24px;
    font-size: 21px;
}
/*-------------section new---------------*/
.new .container{
    padding-top: 193px;
    padding-bottom: 107px;
    text-align: center;
}
.new h2{
    font-size: 36px;
    text-transform: uppercase;
}
.new button {
    width: 220px;
    height: 55px;
    background: #D7B399;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    font-family: "Montserrat", sans-serif;
}
.new button:hover,
.new button:focus{
    background: #947762;
}
.catalog{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card img{
    width: 85%;
}
.card {
    border: #D7B399 1px solid;
    width: 22%;
    min-height: 350px;
    padding: 22px 0 25px;
}
.card h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
}
.card-price{
    font-size: 18px;
    color: #D7B399;
    font-weight: bold;
    margin-top: 15px;
}
@media(max-width: 1326px){
    .slider__button--prev{
        left: 0;
    }
    .slider__button--next{
        right: 0;

    }
}
@media (max-width: 1100px){
    .container {
        width: auto;
        padding: 0 30px;
    }
}
@media(max-width: 992px){
    .catalog {
        flex-wrap: wrap;
    }
    .card{
        width: 30%;
    }
}
@media (max-width: 992px) {
    .menu__wrapper{
        flex-wrap:wrap;
    }
    .logo{
        order: -1;
        width: 100%;
    }
}
@media(max-width:768px){
    .logo{
        order: -1;
        width: 70%;
    }
    .basket{
        order: -1;
        text-align: right;
    }
}
@media(max-width:600px){
    .basket,.menu{
        display: none;
    }
    .navbar-toggler{
        display: block;
    }
}
@media(max-width: 768px){
    .slider__wrapper{
        display: none;
    }
    .slider__button{
        display: none;
    }
    .header{
        min-height: 90px;
    }
}


@media(max-width: 768px){
    .man-woman .container{
        flex-direction: column;
    }
    .man, .woman {
        width: 100%;
    }
    .man{
        padding-left: 35px;
    }
    .man-woman {
    background: linear-gradient(90deg, #f9f6f1 0%, #f9f6f1 50%, #f9e0e0 50%, #f9e0e0 100%);
}
.card{
    width: 45%;
}
}
@media(max-width: 576px){
    .card{
        width: 90%;
    }
    .new .container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .catalog{
        margin-top: 50px;
    }
}

